<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XGIFView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2ABC9CCB1CAD7C1D00402386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ABC9CE41CAD7C1D00402386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ABC9CEF1CAD7C1D00402386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
